<h1 class="text-center mt-4">Edit category</h1>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<%= render 'form' %>

			<div class="mb-3 d-flex justify-content-center">
				<%= link_to "[ Back to index ]", categories_path, class:"text-info" %>
			</div>
		</div>
	</div>
</div>